span[class^="CahootsID"] {
	background: rgba(250,50,100,0.07);
	border-radius: 3px;
	cursor: pointer;
	padding: 3px 3px 3px 0;
}
span[class^="CahootsID"] > a:hover {
	text-decoration: none !important;
}
span[class^="CahootsID"]::before
{ 
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAC4jAAAuIwF4pT92AAABCUlEQVQoz33SK0sEYRTG8d8OjpcvYNE0qEnxgugu6DcwGHXjBDVuMPgVDCImtUzUJgiCGAVh1eQtiQwIXpLNIA6oYd8FWXQfOOXw/A/nfd5TElQkaSdWsIjh0L7DPnbiPPuEUjD34Qhj/tYV5uI8ey6FyRdtzE1dYzrCcjC/oYYpzKPeAoxiKUIVL5iM82wLN3GeHWIGGy1QNcIEUjwWSbqJ9yJJ6+iP82wV67+A8QhncZ6dhIRq6EAZl0WSDsV5tobtAHyViiSt4BwPSFpWeEIFrzhAbzPWQdz/k84tZvGBchSaA23iHMExuuM8O20CV6H+U0+oxk+HtbrCwxfC1G+N09jDbvM0fgAIkEe7aKk7nQAAAABJRU5ErkJggg==');
	background-size: 12px 12px;
	display: inline;
	min-width: 14px;
	min-height: 14px;
	content:"CH";
	color: transparent;
	margin-right: 0px;
}

.tooltipster-content p {
	font-family: sans-serif !important;
}