span[class^="CahootsID"] {
	background: #e6e6f5;
	cursor: pointer;
	/* background-image: url(data:image/png;base64,) top left no-repeat; */
}

.tooltipster-content p {
	font-family: sans-serif !important;
}