span[class^="CahootsID"] {
	background: rgba(250,50,100,0.10);
	border-radius: 3px;
	cursor: pointer;
	padding: 1px 3px 1px 0;
}
span[class^="CahootsID"] > a:hover {
	text-decoration: none !important;
}
span[class^="CahootsID"]::before
{ 
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAOAAAADgCxW/H3AAABo0lEQVQoz43SXWjNcRzH8dfvf04pRK0tT7E1NpqHUuNCyUMpaqTWdiG52M1KEe5ELqTkVpKU5KHU5tzYBeXhhptFeVqhxFLLatZpm42dp58L5+iQp8/l9/t596nv9xPyjV2qVIsjaENzefYat3AWnyrGUAW24xLm+r3G0YUMJFVQ718gmFP2tFcS6/C2vGDmDGFDi7C4Vnz+XhwYJFf4NbkpjQMVKLQ2SQ7vFpYtJBCncuLlu0rX7lOK1cmH0tgFoXmR1Pn9pFLi2CRT00LNbPZtlRSKSj0Pyf9IbktjhVQiOdpJoajU80jpXB+5vLCyXti7RdizWbJ0vtLFOwxnYXnqRF3r8aRjYzrZuV7x5A3x+gPyRSJGxsSXg0IShE2rhfp531Nzha/psG3tUOje3hifvRNvP/n5jjEynFW6ck8YGpV07xDWNfPqw3QSWpa88DGreOzqnx/xJSf29Sud6WV0XMxOPg6FgxcajIwNxP43s/yPFtR8DmsaVlWaUylA+AcW0YFMpTkZdGLiL9BEBaquHNxEI05jAHlM4ilOlXeZivkbE0WRUzsnl8UAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDYtMjdUMTU6MzE6MTQrMDI6MDD2LRwyAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA2LTI3VDE1OjMxOjE0KzAyOjAwh3CkjgAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAASUVORK5CYII=);
	background-size: 13px 13px;
	display: inline;
	min-width: 14px;
	min-height: 14px;
	content:"CH";
	color: transparent;
	margin-right: 0px;
}

.tooltipster-content p {
	font-family: sans-serif !important;
}